# Core AI & Backend
fastapi
uvicorn[standard]
langchain
langchain-core
langgraph
langchain-groq
python-dotenv
python-multipart


# Data Tools
requests
pandas
numpy
beautifulsoup4
selenium
faker
sdv
thefuzz
python-levenshtein

# PDF Tools
PyPDF2
fpdf2

# API Clients & Geocoding
pgeocode==0.5.0

#deployment
gunicorn

google-generativeai 
pdf2image 
Pillow

usaddress


