# Core AI & Backend
fastapi
uvicorn[standard]
langchain
langchain-core
langgraph
langchain-groq
python-dotenv

# Data Tools
requests
pandas
beautifulsoup4
selenium
faker
sdv
thefuzz
python-levenshtein

# PDF Tools
marker-pdf[full]
fpdf2

# API Clients
google-maps-addressvalidation